<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/all.css">
    
    <title>FastAPIController</title>
</head>
<body>

    <section id="all-body">
        <section>
            <div id="high_container">
                <h1 id="title_text">FastAPIController</h1>
            </div>
        </section>

        <section id="text">
            <div id="text-text-box">
                <h2>Напишите текст для отправки</h2>
            </div>

            <div id="text-div">
                <div id="input-text">
                    
                    <textarea class="input-text-field" placeholder="Введите текст" rows="4"></textarea>
                </div>
            </div>
        </section>

        <div id="spacer"></div>

        <section id="urls">
            <div id="url-text-box">
                <h2>Добавьте новые ссылки</h2>
            </div>

            <div id="url">
                <div id="input-fields">
                    <!-- Новые поля будут добавляться сюда -->
                    
                </div>
                <button class="btn add-button" id="add-button">Добавить поле</button>
            </div>
        </section>

        <section id="users"></section>

        
        <div id="submit-button-div">
            <button id="submit-button" class="btn">Отправить</button>
        </div>

    </section>
    
    <script src="../static/all.js"></script>
</body>
</html>